{% extends 'base.html.twig' %}

{% block title %}
    Hello HomeController!
{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            {{subCategory.name}}
        </h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ asset('uploads/images/'~product.image) }}" alt="Image du produit">
                            <div class="card-body">
                                <a style="text-decoration: none;" href="{{ path('app_home_product_show',{'id':product.id}) }}">
                                    <h5 class="card-title">
                                        {{ product.name }}
                                    </h5>
                                </a>
                                <p class="card-text">
                                    {{ product.description|slice(0, 60) }}
                                    ...
                                </p>
                                <h3>{{product.price}}CFA</h3>
                                <a href="#" class="btn btn-outline-success">
                                    Ajouter au panier
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
